<div style="max-width: 90%; margin: 10px auto" fxLayout="column" fxFlex="true" class="product-list">

  <app-custom-data-table
    [cols]="cols"
    [data]="data"
    tableHeader="Product List"
    [paginator]="true"
    [rows]="10"
    (addNewDataButtonClicked)="openDialog()"
    (deleteDataButtonClicked)="deleteProduct($event)"
    (rowClicked)="onRowClicked($event)"
  ></app-custom-data-table>
  <br>
  <div class="pagination">
    <a href="#">&laquo;</a>
    <a
      [ngClass]="{'active': this.currentPage === page}"
      style="cursor: pointer"
      *ngFor="let page of paginationRange"
      (click)="getNextPage(page)">{{ page }}</a>
    <a href="#">&raquo;</a>
  </div>
</div>
