<div class="custom-data-table">
  <div class="table-header">
    <h3>{{ tableHeader || 'Table Header' }}</h3>
  </div>
  <div fxlayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="60">
      <input matInput placeholder="Filter">
    </mat-form-field>
    <button (click)="onAddNewButtonClick()" fxFlex="20" mat-raised-button color="primary">Add New Product</button>
  </div>
  <div fxLayout="column" class="mat-elevation-z8">
    <table>
      <thead>
      <tr>
        <th *ngFor="let col of cols">{{ col.header }}</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="onRowSelection(rowData)" *ngFor="let rowData of data">
        <td *ngFor="let col of cols">{{ rowData[col.field] }}</td>
        <td>
          <button mat-button mat-raised-button color="primary">Edit</button>
          <button (click)="onDeleteButtonClick(rowData)" mat-button mat-raised-button color="accent">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
